<mat-sidenav-container class="main-container">
  <mat-sidenav  #sidenav mode="over" opened full>
    <mat-toolbar> Categories </mat-toolbar>
    <button mat-button (click)="setComponent('home')">🏠 Home</button> 
    <button mat-button (click)="setComponent('bosses')">👹 Bosses</button>
    <button mat-button (click)="setComponent('characters')">🧝 Characters</button>
    <button mat-button (click)="setComponent('dungeons')">🏰 Dungeons</button>
    <button mat-button (click)="setComponent('items')">🎒 Items</button>
    <button mat-button (click)="setComponent('monsters')">🐉 Monsters</button>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary"> 
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Zelda Compendium</span>
    </mat-toolbar>


    <app-home *ngIf="selectedComponent === 'home'"></app-home>
    <app-bosses *ngIf="selectedComponent === 'bosses'"></app-bosses>
    <app-characters *ngIf="selectedComponent === 'characters'"></app-characters>
    <app-dungeons *ngIf="selectedComponent === 'dungeons'"></app-dungeons>
    <app-items *ngIf="selectedComponent === 'items'"></app-items>
    <app-monsters *ngIf="selectedComponent === 'monsters'"></app-monsters>

  </mat-sidenav-content>
</mat-sidenav-container>