:host {
  display: block;
  padding: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
  }
  .category {
    background-color: #412d09;
  }
  mat-card {
    margin: 1.5rem auto;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;

    mat-card-header {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0.75rem;
    }

    mat-card-content {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }

    mat-card-footer {
      margin-top: 1rem;

      mat-chip-set {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        mat-chip {
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
    }
  }
}
